<h1 class="page-title">Edit your profile</h1>

{{#with loggedInUser}}
{{#if profilePicPath}}
<img class="profile-pic" src="{{profilePicPath}}" alt="profile picture">
{{/if}}
<form class="edit-game-form" action="/auth/edit/{{_id}}" method="post" enctype="multipart/form-data">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="{{username}}">

    <label for="githubLink">GitHub account:</label>
    <input type="text" name="githubLink" id="githubLink" value="{{githubLink}}">

    <label class="button" for="picture">Picture:
    <input type="file" name="profilePic" id="picture" hidden>
    </label>

    <label for="currentPass">Current password:</label>
    <input type="password" name="currentPass" id="currentPass">

    <label for="newPass">New password:</label>
    <input type="password" name="newPass" id="newPass">
    <button class="button" type="submit">Save</button>
    <a class="button" href="/dashboard">Cancel</a>
</form>
{{/with}}

