


<div class="login-holder">  

    <form class="login-form" action="/auth/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button class="auth-button" type="submit">Log In</button>
    </form>

    <a href="/auth/signup">I don't have an account yet</a>

    <a href="/auth/github"><img id="login-github" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="github logo"></a>
</div>

