

<h1 class="page-title">Log in</h1>
<div class="login-holder">  

    <form class="login-form" action="/auth/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button class="button auth-button" type="submit">Log In</button>
    </form>

    <a class="signup-link" href="/auth/signup">I don't have an account yet</a>

    <a href="/auth/github"><img id="login-github" src="/images/github2.png" alt="github logo"></a>
    <a href="/auth/facebook">FACEBOOK AUTH</a>
    <a href="/auth/google">GOOGLE AUTH</a>
    <a href="/auth/reddit">REDDIT AUTH</a>
</div>

