<h1>Hello from login page</h1>

<div class="login-holder">  
    <form action="/auth/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Log In</button>
    </form>

    <a href="/auth/signup">I don't have an account yet</a>

    <a href="/auth/github">GITHUB SIGN IN PLACEHOLDER</a>
</div>

