<h1>hello from signup page</h1>

<form action="/auth/edit/{{_id}}" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="password">Password:</label>
    <input type="text" name="password" id="password">

    <label for="github">GitHub account:</label>
    <input type="text" name="github" id="github">
    
    {{!-- placeholder --}}
    <label for="picture">Profile picture:</label>
    <input type="text" name="" id="">

    <button type="submit">Sign Up</button>
</form>


{{!-- 
username: {
      type: String,
      // unique: true -> Ideally, should be unique, but its up to you
    },
    password: String,
    githubLink: String,
    profilePic: String, --}}