
<h1 class="page-title">Login</h1>
<div class="login-holder">

<form class="login-form signup-form" action="/auth/signup" method="post" enctype="multipart/form-data">
    
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <label for="github">GitHub account:</label>
    <input type="text" name="githubLink" id="github">
    
    <label class="image-uploader" for="picture">

    <input hidden type="file" name="profilePic" id="picture">
    Add profile picture
    </label>

    {{#if errorMessage}}
    <div class="error-msg">
        {{#each errorMessage}}
        <p>{{this}}</p>
        {{/each}}
    </div>
    {{/if}}

    <button class="button auth-button" type="submit">Sign Up</button>
</form>
</div>
