<div class="login-holder">

<form class="login-form signup-form" action="/auth/signup" method="post" enctype="multipart/form-data">
    
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password:</label>
    <input type="text" name="password" id="password" required>

    <label for="github">GitHub account:</label>
    <input type="text" name="githubLink" id="github">
    
    <label class="image-uploader" for="picture">

    <input hidden type="file" name="profilePic" id="picture">
    Add profile picture
    </label>

    <button class="auth-button" type="submit">Sign Up</button>
</form>
</div>
