body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

body {
  margin:0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 60px;
  flex-wrap: wrap;
}


.sub-nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
}
.sub-nav li a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.profile-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.github-link img {
  height: 64px;
}
