/* CSS RESET START */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END  */

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}

:root {
  --primary-color: #ffffff;
  --background-color-700: #121212;
  --background-color-500: #262626;
  --background-color-300: #484848;
  --header-color: rgb(45, 44, 44);
  --footer-color: rgb(56, 56, 56);
  --accent-color: rgb(46, 95, 231);
  --text-color: rgb(255, 255, 255);
  --main-font: 'Roboto', sans-serif;
}

body {
  color: var(--text-color);
  margin:0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--main-font);
  background-image: linear-gradient(to right top, #000000, #070707, #0d0d0d, #121212, #161616, #191919, #1c1c1c, #1f1f1f, #222222, #262626, #292929, #2d2d2d);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 60px;
  flex-wrap: wrap;
}


.sub-nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
.sub-nav li a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 100%;
  padding: 30px 0;
  /* background-color: var(--background-color-700); */
  position: relative;
  isolation: isolate;
}

.main-container::after {
  content: "";  z-index: -1;
  position:absolute;
  inset: 0;
  opacity: 1;
  }



.profile-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 auto;
  width: 50%;
  text-align: center;
}

.profile-pic {
  max-width: clamp(100px,40%,200px);
  height: auto;
}

.github-link img {
  height: auto;
  max-width: clamp(30px,30%,50px);
}


.main-footer {
  padding: 3px;
  height: 30px;
  text-align: center;
  /* background-color: var(--footer-color); */
}

/* INDEX PAGE STYLING */

.button-holder {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid rgba(207, 207, 207, 0.54);
  background-color: #f3f0f00d;
  border-radius: 20px;
  padding: 10px 40px;
  height: 200px;
  width: 440px;
  align-items: center;
}

.button {
  border: 1px solid rgb(117, 117, 117);
  background-color: var(--background-color-300);
  padding:10px 50px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN AND SIGN UP PAGE STYLES */

.login-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  border: 1px solid black;
  padding: 30px 50px;
}

#login-github {
  width: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap:10px;
}

.login-form input {
  background-color: var(--footer-color);
  color: var(--main-font);
  border: 0;

}
.login-form label {
  text-align: center;
}

.auth-button {
  margin-top: 20px;
  background-color: var(--footer-color);
  border: 0;
  padding: 10px 0;
}

/* GAMES INDEX */

.games-container {
  display:flex;
  max-width: 90%;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;

}

.game-card {
  display:flex;
  flex-direction: column;
  height: 200px;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 0 0 5px 0;
  overflow:hidden;

}
.game-card img {
  height: 180px;
}