<h1 class="page-title">Add a game</h1>

<form class="edit-game-form" action="/games/add" method="post" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="author">Author</label>
    <input type="text" name="author" id="author">

    <label class="image-upload-input" for="posterUrl">Poster
    <input type="file" name="posterUrl" id="posterUrl" hidden>
    </label>

    <label for="description">Description</label>
    <textarea type="description" name="description" id="description"> </textarea>

    <label for="gameLink">Link</label>
    <input type="gameLink" name="gameLink" id="gameLink">

    <button type="submit">Add game</button>
</form>
