{{!-- ALL REVIEWS FOR THE CHOSEN GAME --}}
{{#with gameReviews}}
<h1>Reviews for: {{name}}</h1>
{{#each reviews}}
<div>
    <p>{{this.user.username}}:</p>
    <br>
    <p>{{this.text}}</p>
</div>
{{/each}}
{{/with}}