{{!-- ALL REVIEWS FOR THE CHOSEN GAME --}}
{{#with gameReviews}}
<h1 class="page-title">Reviews for {{name}}</h1>
{{#each reviews}}
<div class="single-review">
    <div class="name-box">
        <p>{{this.user.username}}:</p>
        <p class="rating-stars">{{this.rating}}</p>
    </div>
    <p>{{this.text}}</p>
</div>
{{/each}}
{{/with}}
